#timer444 {
  font-size: 2em;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#minutes,
#seconds {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}
.points {
  color: white;
}
.fire {
  background-color: #023d69 !important;
}
div#pp-accordion-tab-title-9641 {
  color: white !important;
}
div#pp-accordion-tab-title-9642 {
  color: white !important;
}
div#pp-accordion-tab-title-9643 {
  color: white !important;
}
div#pp-accordion-tab-title-9644 {
  color: white !important;
}
div#pp-accordion-tab-title-9645 {
  color: white !important;
}
div#pp-accordion-tab-title-9646 {
  color: white !important;
}
div#pp-accordion-tab-title-9647 {
  color: white !important;
}
.elementor-button:hover {
  background-image: none !important;
  background-color: #023d69 !important;
}
.elementor-button:focus {
  background-image: none !important;
  background-color: #023d69 !important;
}
.elementor-container {
  display: flex;
  justify-content: center;
}
.dota2contain {
  align-content: center !important;
}
.elementor-element-a78e4a3 {
  background-color: black !important;
}
.elementor-1314
  .elementor-element.elementor-element-cb03586
  .elementor-heading-title {
  color: white !important;
}
.elementor-1314 .elementor-element.elementor-element-8efd324 {
  background-color: black !important;
}
.elementor-1314
  .elementor-element.elementor-element-a5b88df
  .elementor-heading-title {
  color: white;
}
.elementor-1314
  .elementor-element.elementor-element-dadf133
  .elementor-heading-title {
  color: white;
}
.elementor-1314
  .elementor-element.elementor-element-ea51b01
  > .elementor-widget-container {
  border-color: white;
  border-width: medium;
}
.elementor-1314
  .elementor-element.elementor-element-d1ccfb6
  .elementor-widget-wrap.elementor-element-populated {
  background-color: #023d69 !important;
}
.elementor-1314
  .elementor-element.elementor-element-5dee9e6
  .elementor-heading-title {
  color: white;
}
.elementor-1314
  .elementor-element.elementor-element-a5b88df
  .elementor-heading-title {
  color: white;
}

.elementor-1314
  .elementor-element.elementor-element-cb03cfd
  .elementor-widget-wrap.elementor-element-populated {
  background-color: #023d69 !important;
}
.elementor-1314
  .elementor-element.elementor-element-cb03cfd
  .elementor-heading-title {
  color: white;
}
.elementor-1314
  .elementor-element.elementor-element-a56515c
  .elementor-widget-wrap.elementor-element-populated {
  background-color: #023d69 !important;
}
.elementor-1314
  .elementor-element.elementor-element-a56515c
  .elementor-heading-title {
  color: white;
}
.elementor-1314
  .elementor-element.elementor-element-74ec577
  .elementor-widget-wrap.elementor-element-populated {
  background-color: #023d69 !important;
}
.elementor-1314
  .elementor-element.elementor-element-74ec577
  .elementor-heading-title {
  color: white;
}
.elementor-1314 .elementor-element.elementor-element-aaaa30f p {
  color: white;
  font-weight: 500;
}
.elementor-1314 .elementor-element.elementor-element-74ec577 p {
  color: white;
  font-weight: 500;
}
.elementor-1314 .elementor-element.elementor-element-a56515c p {
  color: white;
  font-weight: 500;
}
.elementor-1314 .elementor-element.elementor-element-cb03cfd p {
  color: white;
  font-weight: 500;
}

.psy {
  width: 100%;
  color:white;
  margin: 0 auto;
  text-align: justify; 
  padding: 20px;
  line-height: 1.6;
  font-size: 1.3vw; /* Use viewport width for responsive font size */
  font-family: 'Arial', sans-serif;
  hyphens: auto; /* Allow hyphenation */
  word-spacing: 0.1em; /* Adjust word spacing */
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .psy {
     color:white;
      text-align: left; /* Change text alignment for smaller screens */
      font-size: 3.5vw; /* Adjust font size for smaller screens */
  }
}

@media only screen and (min-width:601px) and (max-width:1024px){
  .psy{
    color:white;
    font-size:2.5vw;

  }
}

@media only screen and (min-width: 1025px) {
  .psy {
      color:white;
      font-size: 1.5vw; /* Adjust font size for larger screens */
  }
}




