#timer444 {
  font-size: 2em;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#minutes,
#seconds {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}
.points {
  color: white;
}
.fire {
  background-color: #dc407f !important;
}
div#pp-accordion-tab-title-9641 {
  color: white !important;
}
div#pp-accordion-tab-title-9642 {
  color: white !important;
}
div#pp-accordion-tab-title-9643 {
  color: white !important;
}
div#pp-accordion-tab-title-9644 {
  color: white !important;
}
div#pp-accordion-tab-title-9645 {
  color: white !important;
}
div#pp-accordion-tab-title-9646 {
  color: white !important;
}
div#pp-accordion-tab-title-9647 {
  color: white !important;
}
.elementor-button:hover {
  background-image: none !important;
  background-color: #dc407f !important;
}
.elementor-button:focus {
  background-image: none !important;
  background-color: #dc407f !important;
}
.elementor-container {
  display: flex;
  justify-content: center;
}
.dota2contain {
  align-content: center !important;
}
.elementor-element-a78e4a3 {
  background-color: black !important;
}
.elementor-1314
  .elementor-element.elementor-element-cb03586
  .elementor-heading-title {
  color: white !important;
}
.elementor-1314 .elementor-element.elementor-element-8efd324 {
  background-color: black !important;
}
.elementor-1314
  .elementor-element.elementor-element-a5b88df
  .elementor-heading-title {
  color: white;
}
.elementor-1314
  .elementor-element.elementor-element-dadf133
  .elementor-heading-title {
  color: white;
}
.elementor-1314
  .elementor-element.elementor-element-ea51b01
  > .elementor-widget-container {
  border-color: white;
  border-width: medium;
}
.elementor-1314
  .elementor-element.elementor-element-d1ccfb6
  .elementor-widget-wrap.elementor-element-populated {
  background-color: #dc407f !important;
}
.elementor-1314
  .elementor-element.elementor-element-5dee9e6
  .elementor-heading-title {
  color: black;
}
.elementor-1314
  .elementor-element.elementor-element-a5b88df
  .elementor-heading-title {
  color: white;
}

.elementor-1314
  .elementor-element.elementor-element-cb03cfd
  .elementor-widget-wrap.elementor-element-populated {
  background-color: #dc407f !important;
}
.elementor-1314
  .elementor-element.elementor-element-cb03cfd
  .elementor-heading-title {
  color: black;
}
.elementor-1314
  .elementor-element.elementor-element-a56515c
  .elementor-widget-wrap.elementor-element-populated {
  background-color: #dc407f !important;
}
.elementor-1314
  .elementor-element.elementor-element-a56515c
  .elementor-heading-title {
  color: black;
}
.elementor-1314
  .elementor-element.elementor-element-74ec577
  .elementor-widget-wrap.elementor-element-populated {
  background-color: #dc407f !important;
}
.elementor-1314
  .elementor-element.elementor-element-74ec577
  .elementor-heading-title {
  color: black;
}
.elementor-1314 .elementor-element.elementor-element-aaaa30f p {
  color: white;
  font-weight: 500;
}
.elementor-1314 .elementor-element.elementor-element-74ec577 p {
  color: white;
  font-weight: 500;
}
.elementor-1314 .elementor-element.elementor-element-a56515c p {
  color: white;
  font-weight: 500;
}
.elementor-1314 .elementor-element.elementor-element-cb03cfd p {
  color: white;
  font-weight: 500;
}
.psy{
  color:white;
  width:100%;
   padding:20px;
   text-align:justify;
   margin:0 auto;
   line-height:1.6;
   font-size:1em;
   font-family:'Arial',sans-serif;

}